<head>
    <link rel="stylesheet" href="./css/estiloPortada.css">
    <link rel="stylesheet" media="all" href="./css/styleFondo.css" />
</head>
<main class="container p-5">
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="portada">
        <h2 class="byline" id="byline">Los Mejores trailers</h2>
    </div>
</main>