<footer class="text-center text-lg-start bg-black " style="position: fixed; bottom: 0; width: 100%;">
  <!-- Copyright -->
  <div class="text-center m-1 pb-2 text-white">
    © 2023 Copyright:
    <a class="text-white" href="#">MovieTrailers.com</a>
  </div>
  <!-- Copyright -->
</footer>